@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --semi-text-gray: #c7cdd3;
  --dark-mode-border-color: #383737;
  --divder-dark-mode-top: #888888;
  --divider-sections-dark: #383838;
  --default-verticals-padding: 30px 0px 30px 0px;
  --sec-theme-ackground: #2a2a2b;
}

#tsparticles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: flex;
}

/* Landing Page Animations Start here*/
.before-transt-right {
  margin-left: -150px;
  opacity: 0;
  transition: ease-in-out 1s;
}
.after-transt-right {
  margin-left: 0px;
  opacity: 1;
  transition: ease-in-out 1s;
}
.before-transt-left {
  margin-left: 150px;
  opacity: 0;
  transition: ease-in-out 1s;
}
.after-transt-left {
  margin-left: 0px;
  opacity: 1;
  transition: ease-in-out 1s;
}
.before-transt-down {
  margin-top: 150px;
  opacity: 0;
  transition: ease-in-out 500ms;
}
.after-transt-down {
  margin-top: 0px;
  opacity: 1;
  transition: ease-in-out 500ms;
}
/* Landing Page Animations End here*/

.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  border-left: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.glass-borderless {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.17);
}

.landig-p-text {
  color: var(--semi-text-gray);
}
.landing-height {
  height: 500px;
}

.join-section {
  height: 200px;
  background-color: aqua;
}

.working-section {
  background: rgb(2,0,36);
  background: linear-gradient(69deg, rgba(2,0,36,1) 0%, rgba(19,37,66,1) 35%, rgba(12,7,36,1) 100%);
}

.box {
  display: flex;
  color: white;
}
.box:hover{
  background-color: white;
}
.box:hover h2 {
  color: black;
}
.box:hover span {
  color: black;
}
.box:hover p {
  color: black;
}
.disable-select-drag {
  user-select: none;
  -webkit-user-drag: none;
}

.divider-top {
  background-color: var( --divder-dark-mode-top);
  height: 1px;
  width: 100%;
}

.divider-sections {
  background-color: var(--divider-sections-dark);
  height: 1px;
  width: 100%;
}

.small-card-divider {
  background-color: var(--divider-sections-dark);
  height: 1px;
  width: 100%;
}
.cards-border-dark {
  border: solid 1px var(--dark-mode-border-color);
}

.cards-border-dark-top {
  border-top: solid 1px var(--dark-mode-border-color);
}

.cards-border-dark-bottom {
  border-bottom: solid 1px var(--dark-mode-border-color);
}
.card-hover-bg {
  background-color: transparent;
  transition-duration: 300ms;
}
.card-hover-bg:hover {
  background-color: var(--dark-mode-border-color);
  transition-duration: 300ms;
}

.card-themes-main {
  background-color: var(--sec-theme-ackground);
}

.inputs-background-color {
  background-color: #252529;
}

.inputs-border-color {
  border: solid 1px #3d3d3f;
}

.focus-outline {
  outline: none;
}
.focus-outline:focus {
  border-color:  white;
}
.vertical-sections-padding {
  padding-top: 35px;
  padding-bottom: 35px;
}
.vertical-sections-padding-top{
  padding-top: 35px;
}
.vertical-sections-padding-bottom{
  padding-bottom: 35px;
}
.special-33-min-width {
  min-width: 33%;
}

/*
Animation URI : https://codepen.io/michellebarker/pen/gOMBPQj
*/

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
	min-width: min(40rem, 100%);
}

.box-anim {
  border-radius: 10px;
	border: 0.35rem solid;
	padding: 10px;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}